.cards{
    width: 100%;
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.cards-header h3{
    padding: 14px 16px;
    text-align: center;
}

.cards-header img{
    width: 100%;
    object-fit: cover;
}

.cards-body{
    padding: 0 16px;
    text-align: center;
}

.cards-footer{
    padding: 14px 16px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.price-tag {
  font-weight: bold;
  margin-right: 10px;
  color: #6b4f4f;
}

@media only screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 24px;
  }
}